table {
    border-collapse: collapse;
}
table h2 {
    font-size: 120%;
}
table h3 {
    font-size: 110%;
}
table th {
    padding: 10px;
    text-align: center;
    color: #fff;
}
table td {
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    background: #eee;
}
table .time {
    width: 20%;
    padding-top: 20px;
    font-size: 1.2em;
    text-align: right;
}
table .speaker {
    color: #666;
}
table tr.break td {
    text-align: center;
    color: #fff;
    background-color: #999;
}
table thead .time {
    color:#FFF;
    width:130px;
    letter-spacing: 1px;
    background-color:#5d5d5d;
}
table thead .room0 {
    color:#FFF;
    letter-spacing: 1px;
    background-color:#1f79ff;
}
table thead .room2 {
    color:#FFF;
    letter-spacing: 1px;
    background-color:#7ecef4;
}
table .sign-in h2,
table .openning h2,
table .lunch h2,
table .teatime h2,
table .lighting-talk h2,
table .closing h2 {
    text-align: center;
}
table .session section {
    position:relative;
    padding:0 10px;
    min-height:160px;
}
table .session .room0 {
    border-left:10px solid #1f79ff;
}
table .session .room2 {
    border-left:10px solid #7ecef4;
}
table .session .subject {
    font-size: 16px;
    font-weight:bold;
    letter-spacing: 1px;
}
table .session .speaker {
    font-size: 14px;
    color: #595959;
    letter-spacing: 1px;
}
table .session .description {
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.6;
}
