.logo, .social, .comments {
  text-align: center;
  padding: 10px; }

@media (min-width: 768px) {
  .logo img {
    width: 180px; } }
@media (min-width: 992px) {
  .logo img {
    width: 200px; } }
@media (min-width: 1200px) {
  .logo img {
    width: 285px; } }
nav .navbar-toggle {
  background: #083038; }
nav .navbar-brand {
  font-size: 1.8em; }
nav .nav li {
  display: block;
  text-align: center; }
nav .nav .zh-tw, nav .nav .en {
  display: inline;
  font-size: 2em;
  margin-left: 0.6em;
  text-transform: uppercase; }
nav .nav .en {
  font-size: 1.2em;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .nav {
    padding: 0 0 0 48px;
    margin: 10px auto; }
    .nav li {
      width: 80px;
      height: 80px;
      border: 5px solid #f6f6f6;
      overflow: hidden;
      position: relative;
      float: left;
      background: white;
      margin-left: -18px;
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 125px;
      -moz-border-radius: 125px;
      border-radius: 125px;
      -webkit-transition: all 400ms linear;
      -moz-transition: all 400ms linear;
      -o-transition: all 400ms linear;
      -ms-transition: all 400ms linear;
      transition: all 400ms linear; }
      .nav li:last-child {
        margin-right: 0px; }
      .nav li a {
        text-align: left;
        width: 100%;
        height: 100%;
        display: block;
        color: #333333;
        position: relative; }
      .nav li a:hover {
        background-color: white; }
      .nav li .zh-tw, .nav li .en {
        font-size: 1.2em;
        position: absolute;
        top: 20px;
        height: 80px;
        width: 170px;
        left: 50%;
        margin-left: -85px;
        opacity: 0.8;
        text-align: center;
        color: #555555; }
      .nav li .en {
        top: 40px;
        font-size: 0.6em;
        text-transform: uppercase; }
    .nav li:hover {
      border-color: #2787c1;
      z-index: 999;
      background: white;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .nav li.active {
      border-color: #2787c1;
      background-color: #2787c1;
      z-index: 999; }
      .nav li.active .zh-tw, .nav li.active .en {
        color: white !important; }
      .nav li.active a {
        background-color: #2787c1; }

  footer .old p:first-child {
    border-right: 1px solid #cccccc; } }
@media (min-width: 992px) {
  .nav li {
    width: 100px;
    height: 100px;
    border-width: 8px; }
    .nav li .zh-tw, .nav li .en {
      font-size: 1.6em;
      top: 25px; }
    .nav li .en {
      top: 50px;
      font-size: 0.6em; } }
@media (min-width: 1200px) {
  .nav li {
    width: 120px;
    height: 120px;
    border-width: 10px; }
    .nav li .zh-tw {
      top: 30px;
      font-size: 2em; }
    .nav li .en {
      top: 60px;
      font-size: 0.8em; } }
footer {
  background: #083038;
  color: white;
  text-align: center;
  padding: 1em;
  overflow: hidden; }
  footer a, footer a:hover {
    color: white; }
  footer p {
    text-align: center; }
  footer .old {
    font-size: 1.3em; }

@media (min-width: 768px) {
  footer .old p:first-child {
    border-right: 1px solid #cccccc; } }
body {
  background: #d3f1f3 url(../images/bg.png);
  border-top: 10px solid #333333; }

.line {
  border: none;
  height: 20px;
  margin: 0 160px;
  background: url(../images/hr.png) top center; }
  .line:before, .line:after {
    float: left;
    width: 80px;
    height: 20px;
    content: " ";
    margin-left: -80px;
    background: url(../images/hr.png) bottom left no-repeat; }
  .line:after {
    float: right;
    margin-right: -60px;
    background-position: bottom right; }

.note {
  color: #ac2925;
  line-height: 200%;
  font-weight: bold;
  border-bottom: 1px solid #cccccc; }

.legend {
  float: left; }
  .legend li {
    list-style: none;
    color: #333333;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
    width: auto;
    background: url(../images/legend.png) no-repeat; }
  .legend .level-all {
    padding-left: 94px;
    background-position: 0 -120px; }
  .legend .level-senior {
    padding-left: 60px;
    background-position: 0 -80px; }
  .legend .level-junior {
    padding-left: 60px;
    background-position: 0 -40px; }
  .legend .level-newbie {
    padding-left: 60px;
    background-position: 0 0; }

.sessions-list {
  background: #f3f3f3; }
  .sessions-list h2 {
    font-size: 1.2em;
    color: #083038; }
  .sessions-list .sign-in h2, .sessions-list .opening h2, .sessions-list .lunch h2, .sessions-list .teatime h2, .sessions-list .lighting-talk h2, .sessions-list .closing h2 {
    text-align: center; }
  .sessions-list .sign-in, .sessions-list .opening, .sessions-list .session, .sessions-list .break, .sessions-list .lunch, .sessions-list .teatime, .sessions-list .lighting-talk, .sessions-list closing {
    overflow: hidden;
    border-bottom: 1px solid #cccccc; }
  .sessions-list .header .time, .sessions-list .header .room0, .sessions-list .header .room2 {
    height: 40px;
    padding: 10px;
    text-align: center;
    color: white;
    letter-spacing: 1px; }
  .sessions-list .header .time {
    background-color: #5d5d5d; }
  .sessions-list .header .room0 {
    background-color: #1f79ff; }
  .sessions-list .header .room2 {
    background-color: #7ecef4; }
  .sessions-list .time {
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
    color: #c77405;
    font-weight: bold; }
  .sessions-list .break {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #999999; }
  .sessions-list .note {
    color: #ac2925;
    line-height: 200%;
    font-weight: bold; }

.session section {
  position: relative;
  padding: 0 10px;
  margin-left: 30px;
  min-height: 160px;
  background: #f3f3f3; }
.session .room0 {
  border-left: 10px solid #1f79ff; }
.session .room2 {
  border-left: 10px solid #7ecef4; }
.session .subject {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px; }
.session .speaker {
  font-size: 14px;
  color: #595959;
  letter-spacing: 1px; }
.session .description {
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.6; }
.session .level-all, .session .level-newbie, .session .level-junior, .session .level-senior {
  background: url(../images/level.png) no-repeat; }
.session .level-all {
  background-position: -90px bottom; }
.session .level-senior {
  background-position: -60px bottom; }
.session .level-junior {
  background-position: -30px bottom; }
.session .level-newbie {
  background-position: 0 bottom; }
