.logo, .social, .comments {
  text-align: center;
  padding: 10px; }

@media (min-width: 768px) {
  .logo img {
    width: 180px; } }
@media (min-width: 992px) {
  .logo img {
    width: 200px; } }
@media (min-width: 1200px) {
  .logo img {
    width: 285px; } }
nav .navbar-toggle {
  background: #083038; }
nav .navbar-brand {
  font-size: 2.5em; }
nav .nav li {
  display: block;
  text-align: center; }
nav .nav .zh-tw, nav .nav .en {
  display: inline;
  font-size: 2em;
  margin-left: 0.6em;
  text-transform: uppercase; }
nav .nav .en {
  font-size: 1.2em;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .nav {
    padding: 0 0 0 48px;
    margin: 10px auto; }
    .nav li {
      width: 80px;
      height: 80px;
      border: 5px solid #f6f6f6;
      overflow: hidden;
      position: relative;
      float: left;
      background: white;
      margin-left: -18px;
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 125px;
      -moz-border-radius: 125px;
      border-radius: 125px;
      -webkit-transition: all 400ms linear;
      -moz-transition: all 400ms linear;
      -o-transition: all 400ms linear;
      -ms-transition: all 400ms linear;
      transition: all 400ms linear; }
      .nav li:last-child {
        margin-right: 0px; }
      .nav li a {
        text-align: left;
        width: 100%;
        height: 100%;
        display: block;
        color: #333333;
        position: relative; }
      .nav li a:hover {
        background-color: white; }
      .nav li .zh-tw, .nav li .en {
        font-size: 1.2em;
        position: absolute;
        top: 20px;
        height: 80px;
        width: 170px;
        left: 50%;
        margin-left: -85px;
        opacity: 0.8;
        text-align: center;
        color: #555555; }
      .nav li .en {
        top: 40px;
        font-size: 0.6em;
        text-transform: uppercase; }
    .nav li:hover {
      border-color: #2787c1;
      z-index: 999;
      background: white;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .nav li.active {
      border-color: #2787c1;
      background-color: #2787c1;
      z-index: 999; }
      .nav li.active .zh-tw, .nav li.active .en {
        color: white !important; }
      .nav li.active a {
        background-color: #2787c1; }

  footer .old p:first-child {
    border-right: 1px solid #cccccc; } }
@media (min-width: 992px) {
  .nav li {
    width: 100px;
    height: 100px;
    border-width: 8px; }
    .nav li .zh-tw, .nav li .en {
      font-size: 1.6em;
      top: 25px; }
    .nav li .en {
      top: 50px;
      font-size: 0.6em; } }
@media (min-width: 1200px) {
  .nav li {
    width: 120px;
    height: 120px;
    border-width: 10px; }
    .nav li .zh-tw {
      top: 30px;
      font-size: 2em; }
    .nav li .en {
      top: 60px;
      font-size: 0.8em; } }
footer {
  background: #083038;
  color: white;
  text-align: center;
  padding: 1em;
  overflow: hidden; }
  footer a, footer a:hover {
    color: white; }
  footer p {
    text-align: center; }
  footer .old {
    font-size: 1.3em; }

@media (min-width: 768px) {
  footer .old p:first-child {
    border-right: 1px solid #cccccc; } }
body {
  background: #d3f1f3 url(../images/bg.png);
  border-top: 10px solid #333333; }

.speaker {
  width: 280px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #cccccc;
  font-size: 14px;
  color: #595959;
  letter-spacing: 1px;
  background: #eeeeee; }

.avatar {
  text-align: center;
  padding: 20px; }
  .avatar img {
    width: 200px; }

.profile .name {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 2;
  text-align: center; }
.profile .company {
  font-size: 1.2em;
  line-height: 2;
  text-align: center; }
.profile .description {
  margin-top: 20px; }
