//========================================
// common settings
//========================================
.font-phpconf
  font:
    family: 'phpConf'

.hidden
  display: none

a:active, a:hover, a:link, a:visited
  text-decoration: none

body
  font:
    family: 'Gothic', 'XinGothic', 'Helvetica Neue', Helvetica, sans-serif
    size: 12pt

.navigation
  margin: 0
  padding: 0
  li
    float: left

#conference-mascot
  display: none

//========== common settings end ==========

//========================================
// navigation settings
//========================================
#header-navigation
  margin-top: 1.8em

  font:
    size: 0.9em
    weight: bold

  a:active, a:hover, a:link, a:visited
    color: #000
  a:hover
    text-decoration: underline

  .nav-active
    color: #A40000
    a:active, a:hover, a:link, a:visited
      color: #A40000

#footer-navigation
  font:
    weight: bold
  a:active, a:hover, a:link, a:visited
    color: #FFF
  a:hover
    text-decoration: underline

#past-editions
  display: none
  float: left

#past-editions-content
  font-size: 0.9em
  padding-right: 16px

  a:active, a:hover, a:link, a:visited
    color: #FFF

#registration-link
  background: #A20800
  color: #FFF
  a:active, a:hover, a:link, a:visited
    color: #FFF
  padding: 8px 0
  margin: 0 auto 0.5em auto
.registration-date
  font-size: 0.8em
  line-height: 1.2em
.registration-title, .registration-date
  padding: 0 15px

#registration-link-320
  background: #A20800
  color: #FFF
  a:active, a:hover, a:link, a:visited
    color: #FFF
  padding: 8px 0
  margin-bottom: 1.5em
  text-align: center
//========== navigation settings end ==========

//========================================
// main content settings
//========================================
#content-container
  padding: 0 1em

#content-title-container
  border-bottom: 1px solid #617CBE
  padding-top: 8px
  padding-left: 0.5em
  padding-bottom: 0.8em
#content-title
  color: #404361
  font:
    size: 1.6em
    weight: bold
//========== navigation settings end ==========

//========================================
// sidebar settings
//========================================
#sidebar
  margin-bottom: 2em

#sidebar-container img
  border: #9f9f9f 1px solid
#sponsors
  h2
    font-size: 1.5em
    line-height: 2em
    margin: 0
  ul
    margin: 0
    padding: 15px 0 0 0
  li
    float: left

//========== sidebar settings end ==========

//========================================
// footer settings
//========================================
#footer
  background: #70A3B7
  color: #FFF
  height: 70px
  line-height: 70px

#copyright
  font-size: 0.9em
  text-align: right
//========== footer settings end ==========
