@import "sidebar"
@import "menu"
@import "footer"

body
  background: #D3F1F3 url(../images/bg.png)
  border-top: 10px solid #333

.note
  color: #ac2925
  line-height: 200%
  font-weight: bold
  border-bottom: 1px solid #ccc
