@import "common"

.note
  color: #ac2925
  line-height: 200%
  font-weight: bold
  border-bottom: 1px solid #ccc

.speaker
  font-size: 1em
  color: #595959
  letter-spacing: 1px
  margin-bottom: 20px
  border-bottom: 1px solid #ccc

.avatar
  text-align: center
  padding: 10px
  img
    width: 150px

.profile
  .name
    font-weight: bold
    font-size: 1.4em
    line-height: 2
    text-align: center
    color: #083038

  .company
    font-size: 1.1em
    line-height: 2
    text-align: center
    color: #c77405

  .description
    margin-top: 20px
