@import "common"

.sponsors-list
  overflow: hidden
  padding-bottom: 30px
  border-bottom: 1px solid #ccc

  h2
    color: #083038
    margin-bottom: 30px

  .sponsor
    color: #595959
    letter-spacing: 1px
    text-align: center

    figure
      margin: 0
      padding: 0

      img
        width: 200px
        padding: 10px
        background: #fafafa
